@font-face {
	font-family: 'Gotham Pro Narrow';
	src: url(../fonts/GothamPro/GothamProNarrow-Bold.eot);
	src: local('Gotham Pro Narrow Bold'), local('GothamProNarrow-Bold'),
		url('../fonts/GothamPro/GothamProNarrow-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro/GothamProNarrow-Bold.woff') format('woff'),
		url('../fonts/GothamPro/GothamProNarrow-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro Narrow';
	src: url('../fonts/GothamPro/GothamProNarrow-Medium.eot');
	src: local('Gotham Pro Narrow Medium'), local('GothamProNarrow-Medium'),
		url('../fonts/GothamPro/GothamProNarrow-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro/GothamProNarrow-Medium.woff') format('woff'),
		url('../fonts/GothamPro/GothamProNarrow-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro Narrow';
	src: url('../fonts/GothamPro/GothamPro.eot');
	src: local('Gotham Pro Narrow'), local('GothamPro'),
		url('../fonts/GothamPro/GothamPro.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro/GothamPro.woff') format('woff'),
		url('../fonts/GothamPro/GothamPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro Narrow';
	src: url('../fonts/GothamPro/GothamPro-Light.eot');
	src: local('Gotham Pro Narrow Light'), local('GothamPro'),
		url('../fonts/GothamPro/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro/GothamPro-Light.woff') format('woff'),
		url('../fonts/GothamPro/GothamPro-Light.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}


@font-face {
	font-family: 'Roboto Mono';
	src: url(../fonts/Roboto_Mono/static/RobotoMono-Bold.ttf);
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto Mono';
	src: url(../fonts/Roboto_Mono/static/RobotoMono-Medium.ttf);
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto Mono';
	src: url(../fonts/Roboto_Mono/static/RobotoMono-Regular.ttf);
	font-weight: normal;
	font-style: normal;
}
