:root {
    // color
    --color-main-orange: #ea6109;
    --color-main-orange-hover: #ff7923;
    --color-main-orange-pressed: #cd5000;
    --color-yellow-card: #ffecc6;
    --color-blue-card: #d4ebff;
    --color-black: #1d1d1b;
    --color-grey: #656464;
    --color-arrow-grey: #c4c4c4;
    --color-inactive-grey: #d2d2d2;
    --color-line-grey: #e0e0e0;
    --color-white: #ffffff;

    --font-size: 18px;
    --line-height: 1.6;

    --default-font: 'Gotham Pro Narrow', sans-serif;
    --mono-font: 'Roboto Mono', sans-serif;
}
